@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

body{
  max-width: 100%;
  overflow-x: hidden;
  background-color: #D9EFFF;
  font-family: roboto;
}

h1{float:left; width:100%; color:#232323; margin-bottom:30px; font-size: 14px;}
h1 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
h1 a{color:#131313; font-weight:bold;}



.navbar-nav{
  margin-left: 25px;
}

.navbar-brand{
  margin-left: 25px;
}

.lives{
  margin-left: 144px;
}

section{
    float:left;
    width:100%;
    background: #fff;  /* fallback for old browsers */
    padding:30px 20px;
    padding-top: 319px;
}

.container{
    margin: 20px;
    width: auto;
    height: 292px;
}

.live-display{
  display: flex;
  align-items: center;
  justify-content: center;
}
.lives1{
  position: absolute;
  width: 450px;
  height: 292px;
  left: 10px;
  top: 319px;
}
.lives2{
  position: absolute;
  width: 450px;
  height: 292px;
  left: 485px;
  top: 319px;
}
.lives3{
  position: absolute;
  width: 450px;
  height: 292px;
  left: 950px;
  top: 319px;
}
.lives4{
  position: absolute;
  width: 450px;
  height: 292px;
  left: 1415px;
  top: 319px;
}

.streamer1{
  position: absolute;
  left: 20px;
  top: 319px;
}
.streamer2{
  position: absolute;
  left: 485px;
  top: 319px;
}
.streamer3{
  position: absolute;
  left: 960px;
  top: 319px;
}
.streamer4{
  position: absolute;
  left: 1415px;
  top: 319px;
}

.streamer5{
  position: absolute;
  left: 20px;
  top: 990px;
}
.streamer6{
  position: absolute;
  left: 485px;
  top: 990px;
}
.streamer7{
  position: absolute;
  left: 960px;
  top: 990px;
}


.titulo{
  position: absolute;
  width: 450px;
  height: 56px;
  left: 20px;
  top: 249px;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: left;
  color: #3F8EFC;
}

.streamers{
  position: absolute;
  width: 450px;
  height: 198px;

  top: 750px;
}
.cards{
  top: 1274px;
}

.column {
  float: left;
  width: 33.33%;
}

/* Profile card */
.profile-card-3 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height:368px;
  border:none;
}
.profile-card-3 .background-block {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.profile-card-3 .background-block .background {
  width:50%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color:#232323;
  float:left;
  background:#efefef;
  height:50%;
  border-radius:0 0 5px 5px;
  position: relative;
  z-index: 9999;
}
.profile-card-3 .card-content::before {
    content: '';
    background: #efefef;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
}
.profile-card-3 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index:99999;
}
.profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-3 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-3 i {
  display: inline-block;
    font-size: 16px;
    color: #232323;
    text-align: center;
    border: 1px solid #232323;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-3 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-3 .icon-block a{
    text-decoration:none;
}
.profile-card-3 i:hover {
  background-color:#232323;
  color:#fff;
  text-decoration:none;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
